@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.logo {
    height: 60%;
    width: 8%;
    margin-top: 1%;
    margin-left: 3%;
}

.teto h1 {
    color: #ffffff;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 40px;
    font-weight: bold;
    padding-top: 200px;
}

.teto button {
    width: 200px;
    height: 50px;
    border-radius: 200px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10%;
    background-color: #6d6b6b;
}

.service_items h1 {
    font-size: 3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 20px;
}

.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#pricing .card-body {
    background-color: rgba(148, 148, 148, 0.39);
}

.abt {
    display: flex;
    margin-top: 50px;
    padding: 50px;
    background-color: #f1f1f1;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-image: url(img/slidetwo.jpg); */
    /* background-attachment: fixed; */
}

.abt-txt {
    width: 350px;
    padding-top: 30px;
    color: rgb(0, 0, 0);
    /* border: rgb(255, 255, 255); */
}

.abt-img img {
    width: 600px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.realisations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.tem {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    background-color: #f1f1f1;
    height: 300px;
    align-items: center;
    padding-top: 5px;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    color: black;
}

.team_info h5 {
    margin-left: 10px;
    color: blue;
}

.tem img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 2px black;
}

.testimonials {
    margin-top: 30px;
    padding: 1px;
    background-color: white;
}

.cl {
    display: flex;
}

.cl img {
    height: 80px;
    width: 90px;
    border-radius: 50%;
    margin-right: 15px;
}

.testimonials h4 {
    font-weight: bold;
}

.bord {
    margin-top: 10px;
    padding-top: 11px;
}

.cnt {
    background-color: #f8f9fa!important;
    margin-top: 60px;
    padding: 20px;
}

.cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-info {
    width: 500px;
    color: black;
}

.contact-info i {
    margin-left: 10px;
    height: 5em;
    width: 5em;
}

.contact-info a {
    text-decoration: none;
    color: black;
}

.co {
    color: black;
    margin-bottom: 15px;
    border-radius: 200px;
}

.input_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_items h1,
button {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.name,
.mail {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
}

.area {
    height: 150px;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
}

.input_items button {
    height: 40px;
    width: 150px;
    border: 1px solid black;
    margin-top: 15px;
    padding: 6px;
    background: none;
}

footer {
    background-color: white;
}